*{
    box-sizing:content-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    height:100vh;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    background:url(images/bg-bottom.svg) left bottom no-repeat, url(images/bg-top.svg) right top no-repeat, hsl(240, 78%, 98%);
    background-size: 25%, 23%;
}
body, .logs{
    display:flex;
}
.logs{
    width:400px;
    height:auto;
    background-color:hsl(0, 0%, 99%);
 flex-direction:column;
 align-items:center;
 padding-top:40px;
}
.viens, .tris{
    box-shadow:  0px 8px 25px hsl(240, 9%, 95%), 0px -5px 25px hsl(240, 9%, 95%);
}
.divi{
    z-index:1;
}
.viens{
border-radius:20px 0 0 20px;
}
.tris{
    border-radius:0px 20px 20px 0px;
}
.logs:hover{
    background-color:hsl(237, 63%, 64%);
    border-radius:20px;
    width:430px;
    height: calc( 480px + 30px);
}
.logs:hover p, .logs:hover h3, .logs:hover span{
    color:hsl(0, 0%, 99%);
}

h2{
    position:absolute;
 top:10%;
font-size:35px;
font-weight:700;
}
h3, span{
    font-size:15px;
}
h2, h3, span{
    color: hsl(233, 13%, 49%);
}
p{
    font-size:70px;
    color: hsl(232, 13%, 33%);
    padding:20px 0 20px 0;
}
p::before{
    content:"\0024";
    padding-right: 10px;
    font-size:45px;
    position:absolute;
    transform:translate(-35px, 18px);
}

span:not(.no){
border-top:1px solid   hsl(234, 14%, 74%);
border-bottom:1px solid   hsl(234, 14%, 74%);
width:80%;
text-align:center;
}
span{
    padding:20px 0 20px 0;
}
button{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border:none;
    width:80%;
    height:45px;
    border-radius:5px;
    color:hsl(0, 0%, 99%);
    font-size:12px;
    letter-spacing:0.5px;
    font-family: 'Montserrat', sans-serif;
    margin:40px 0 40px 0;
    cursor:pointer;
}

.logs:hover button{
    background-image:none;
    background-color:hsl(0, 0%, 99%);
  color:hsl(237, 63%, 64%);

}

.toggle{
    position:absolute;
    top:15%;
    width:60px;
    height:30px;
    border-radius:20px;
    background-image:linear-gradient(to right,hsl(236, 72%, 92%),hsl(237, 34%, 80%));
}
.ball{
    width:25px;
    height:25px;
    background-color: hsl(0, 0%, 99%);
    border-radius:50%;
    position:relative;
    transform:translate(10%, 8%);
}

.show{
transform:translate(120%, 8%);
}
.color{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}